.App {
  height: 100vh;
  padding: 0 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

h1 {
  margin-top: 50px;
  white-space: nowrap;
  display: flow-root;
  align-items: center;
  padding-left: 30px;
}

.pois {
  background-color: rgb(249, 249, 249);
  flex-direction: column;
  width: 100%;  
  max-width: 1600px;
  align-items: center;
  overflow-y: scroll;
  padding: 0 20px;  
  box-sizing: border-box;
}

.row {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0 100px;
  margin: 10px;
  background-color: lightskyblue;
  border-radius: 25px;
  position: relative;
  height: 100px;
}

.row .name {
  font-size: 20px;
  font-weight: bold;
  min-width: 150px;
  text-align: left;
}

.row .attr {
  display: flex;
  flex-direction: row;
  gap: 10px;
  word-wrap: normal;
}

.but {
  padding: 20px;
  right: 10px;
  position: absolute;
  width: 200px;
}

button {
  border: none;
  padding: 10px;
  background-color: teal;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 10px;
}

.row button {
  margin-right: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;

  input {
    width: 250px;
    padding: 10px;
    border: 1px solid gray;
  }

  textarea {
    padding: 10px;
  }

  button {
    border: none;
    padding: 10px;
    background-color: teal;
    color: white;
    font-weight: bold;
    cursor: pointer;
  }
}

.filter_container {
  gap: 10px;
  justify-content: flex-start;
  padding-left: 30px; 
}

.filter_container label {
  align-items: center;
  display: inline-flex;
  align-items: center;
  gap: 5px;
}

.filter_container input[type="checkbox"] {
  align-items: center;
  margin-right: 10px;
  justify-content: flex-start;
  margin-bottom: 20px;
  padding-left: 20px;
}

.filter_container input[type="text"] {
  width: 500px; 
  padding: 10px;
  margin-bottom: 10px;
  justify-content: flex-start;
  padding-left: 30px;
  border: 1px solid gray;
}

.filter_container button {
  padding: 10px 20px;
  background-color: teal;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border: none;
}

.navbar {
  padding-left: 30px;
  background-color: skyblue;
}

.navbar .container {
  padding: 10px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.links {
  display: flex;
  align-items: center;
  gap: 20px;
}

.links h6 {
  gap: 20px;
  font-size: 16px;
  font-weight: 300;
}

.links span {
  cursor: pointer;
}

.links .write {
  width: 150px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 300;
}

.links .write:hover {
  font-weight: bold;
}

.links a {
  text-decoration: none;
  color: black;
}

.active {
  font-weight: bold;
  color: teal;
  text-decoration: underline;
}
